#title {
    text-align: center;
  }

  .lead title {
    text-align: center;
  }

.button-div {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    
  }

.addToList_btn {
    width: 100%;
}

  #output-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }